<div class="container">
<h1 class="text-center">Sign Up New User</h1>
<br>
<div class="text-center">
  <%= form_for @user do |f| %>
    Name <span><%= f.text_field :name %></span>
    Email <span><%= f.text_field :email %></span>
    Password <span><%= f.password_field :password %></span>
<!--     Admin <span><%= f.text_field :is_admin %></span> -->
<!--  Uncomment and remove # to create admin-->
<br>
<br>

<span><%= f.submit %></span>
<% end %>
</div>
</div>

