<div class="container">
  <h1 class="text-center">Farmers Market Vendors Index</h1><br>
    <% @vendors.each do |v| %>
      <div class="attributes"><strong>Name: &nbsp;</strong> <%= v.name %></div>
      <div class="attributes"><strong>Stall: &nbsp;</strong> <%= v.stall %></div>
      <div class="attributes"><strong>Owner: &nbsp;</strong> <%= v.owner %></div>
      <div class="attributes"><strong>Type: &nbsp;</strong> <%= v.type %></div>
      <div class="attributes"><strong>Comments: &nbsp;</strong> <%= v.comments %></div>
      <%= link_to "Edit", edit_vendor_path(v) %>
      <%= link_to "Delete", v, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
      <br>
    <% end %>
</div>

