<div class="container">
  <h1 class="text-center">Vendors Show</h1>
    <div class="attributes"><strong>Name:</strong> <%= @vendor.name %></div>
    <div class="attributes"><strong>Stall:</strong> <%= @vendor.stall %></div>
    <div class="attributes"><strong>Owner:</strong> <%= @vendor.owner %></div>
    <div class="attributes"><strong>Type:</strong> <%= @vendor.type %></div>
    <div class="attributes"><strong>Comments:</strong> <%= @vendor.comments %></div>
    <br>
</div>
